nav {
    position:fixed;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #cccccc;
}

.logo {
    margin-right: auto;
    margin-left: 10%;
    z-index: 1;
}
.nav-links {
    margin-left: auto;
    margin-right: 10%;
}
.menu-icon{
    margin-left: auto;
    margin-right: 10%;
}

.navbar {
    align-items: center;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    color: #eb0a1e;
    font-weight: 800;
    float: left;
}

.menu-icon {
    color: #222222;
    cursor: pointer;
    margin-left: 2rem;
    float:right;
}


.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links.active .menu-icon i:before {
    display: block;
}

@media (min-width: 769px) {
    .menu-icon {
            display: none;
        }
}

@media (max-width: 768px) {


    .menu-icon {
        position: relative;
        z-index: 1;
        float: right;
    }

    .nav-links {
        position: fixed;
        margin-top: 13.75rem;
        left: 0;
        width: 100%;
        background-color: #cccccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        transition: opacity 0.25s, visibility 0.25s;
    }

    .nav-links.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-links li {
        margin: 1rem 0;
        margin-right: 20%;
    }

    .menu-icon i:before {
        display: block;
    }
}